<script>
import { mapState, mapActions } from 'vuex';
import widgetMixin from '../mixins/widget';

export default {
  mixins: [widgetMixin],
  computed: {
    ...mapState(['issues']),
  },
  methods: {
    ...mapActions(['fetchIssues']),
    fetchData(){
      return this.fetchIssues();
    }
  }
}
</script>

<template>
  <list
    title="Issues assigned to me"
    subtitle="issues"
    :icon-number="1"
    :items="issues"
    :has-error="hasError"
    :is-loading="isLoading"
  />
</template>
