<script>
import ProjectNotSelectedIcon from './icons/ProjectNotSelected';

export default {
  components: {
    ProjectNotSelectedIcon,
  },
}
</script>

<template>
  <div class="landing project">
    <project-not-selected-icon />
    <p>Please select a project to see the dashboard</p>
  </div>
</template>
