<script>
import { mapState, mapActions } from 'vuex';
import { getProjectId, setProjectId } from '../store/storage';

export default {
  data() {
    return {
      projectId: getProjectId(),
    };
  },
  computed: {
    ...mapState(['isLoading', 'projects']),
  },
  methods: {
    ...mapActions(['updateSelectedProjectId']),
    handleProjectSelected() {
      const { projectId } = this;

      if (projectId !== 0) {
        this.updateSelectedProjectId(projectId);
        setProjectId(projectId);
      }
    },
  },
};
</script>

<template>
  <div class="select">
    <select
      v-if="!isLoading"
      v-model="projectId"
      @change="handleProjectSelected"
     >
      <option value="0">Select a project</option>
      <option
        v-for="project in projects"
        :key="project.id"
        :value="project.id"
       >
        {{ project.path_with_namespace }}
      </option>
    </select>
  </div>
</template>

<style>
.select select {
  -webkit-appearance: none;
  padding: 7.5px 30px 7.5px 10px;
  background: var(--hover-color);
  color: var(--text-color);
  font-weight: 600;
}

.select select option {
  -webkit-appearance: none;
  padding: 7.5px 25px 7.5px 10px;
  background: rgb(76, 76, 124);
  color: var(--text-color);
  font-weight: 600;
}
.select {
  position: relative;
}

.select:after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid var(--gitlab-color);
  transform: translateY(-50%);
  border-radius: 5px;
}
</style>
